<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <div class="container">
        <h1>SMS Spam Detector</h1>
        <p>Enter SMS</p>
        <form action="/predict" method="POST">
            <textarea name="message" id="" placeholder="Enter your SMS" required>
                {{message if message else ""}}
            </textarea>
            <button type="submit">Check</button>
        </form>

        {% if prediction %}
            <div class="result">
                <h2>Prediction</h2>
                <p>{{prediction}}</p>
            </div>
        {% endif %}

    </div>
</body>
</html>